name: TypeScript Regeneration

on:
  # push:
  #   branches:
  #     - main
  pull_request:
    branches:
      - main
  # schedule:
  #   - cron: '0 0 1/7 * *'
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Install flatpak
        run: |
          sudo apt-get update
          sudo apt-get install -y flatpak

      - name: Add Flatpak remotes
        run: |
          flatpak --system remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          flatpak --system remote-add --if-not-exists gnome-nightly https://nightly.gnome.org/gnome-nightly.flatpakrepo

      - name: Install Flatpak SDKs
        run: |
          flatpak --system install -y gnome-nightly org.gnome.Sdk
          flatpak --system install -y flathub org.freedesktop.Sdk.Extension.node24

      - uses: actions/checkout@v4

      - name: Generate TypeScript types
        run: ./generate_types_in_flatpak.sh

      - name: Set current date
        run: echo "CURRENT_DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "regenerate: ${{ env.CURRENT_DATE }}"
          branch: regenerate-main
